@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}
@media screen and (min-width: 1025px) {
  html {
    font-size: var(--rem);
  }
}
body {
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1.2;
  scroll-behavior: smooth;
}
a {
  color: #000;
  text-decoration: none;
}
p {
    line-height: 1.5;
}

/* ================== Animated Button ===================== */
.animated-btn,
.animated-btn p, 
.animated-btn p span {
  transition: all 0.3s ease-in;
}
.animated-btn::before {
  position: absolute;
  content: "";
  height: calc(100% + 0.95rem);
  width: calc(100% + 0.95rem);
  background-color: #000;
  transition: all 0.3s ease-in;
}
.animated-btn p::before, .animated-btn p::after {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  transition: all 0.3s ease-in;
}
.animated-btn p::before {
  border-top: 0.95rem solid #fff;
  border-left: 0.95rem solid transparent;
  right: -0.95rem;
  top: 0px;
}
.animated-btn p::after {
  border-bottom: 0.95rem solid #fff;
  border-right: 0.95rem solid transparent;
  left: 0px;
  bottom: -0.95rem;
}
a.animated-btn:hover::before {
  width: calc(100% + 1.5rem);
  height: calc(100% + 1.5rem);
}
a.animated-btn:hover p::before {
  border-top: 1.5rem solid #fff;
  border-left: 1.5rem solid transparent;
  right: -1.5rem;
}
a.animated-btn:hover p::after {
  border-bottom: 1.5rem solid #fff;
  border-right: 1.5rem solid transparent;
  bottom: -1.5rem;
}
a.animated-btn:hover span {
  top: 1.5rem;
  left: 1.5rem;
}
/* ================== Animated Button ===================== */

.preloader-wrapper {
  transition: all 0.5s ease-in;
}
.preloader-wrapper.loaded_mod {
  opacity: 0;
  visibility: hidden;
}
.menu-wrap button p {
  right: 7rem;
  top: 50%;
  transform: translate(0px, -50%);
  transition: all 0.3s ease-in;
}
.menu-wrap button p.close {
  opacity: 0;
  transform: translate(75px, -50%);
}
.menu-wrap button.is_active p.menu {
  transform: translate(-60px, -50%);
  opacity: 0;
}
.menu-wrap button.is_active p.close {
  opacity: 1;
  transform: translate(0px, -50%);
}
.menu-wrap button.is_active .hambarger span:first-child {
  transform: rotate(45deg);
  top: 10px;
}
.menu-wrap button.is_active .hambarger span:nth-child(2) {
  display: none;
}
.menu-wrap button.is_active .hambarger span:last-child {
  transform: rotate(-45deg);
  top: 12px;
}
.menu-wrap button .hambarger span {
  transition: all 0.3s ease-in-out;
}